<h1>Boulders</h1>

<% @boulders.each do |boulder| %>
<h3><a href="/boulders/<%= boulder.id %>"><%= boulder.name %></a></h3>
<p>Grade: <%= boulder.v_grade %></p>
<p>Sent: <%= boulder.tick %></p>
<% end %>