<div class="topnav" >
  <a href="/fields">Home  </a>
  <a href="/boulders">All Boulders</a>
</div>

<h1>Welcome!</h1>

<% @fields.each do |field| %>
  <h3><a href="/fields/<%= field.id %>"><%= field.field_name%></a></h3>
  <p><%= field.created_at %></p>
<% end %>

<p><a href="/fields/new">Create a new Area</a></p>